<div class="row" data-rbs-document-editor-base="" data-model="Project_Gist_GBase">
	<div class="col-md-12">
		<rbs-page-header sub-title="{{ i18nAttr(modelKey('Project_Gist_GBase'), ['ucf']) }}"></rbs-page-header>
	</div>

	<div data-rbs-aside-column="">
		{% include '@Rbs_Admin/view/asides.twig' %}
		{% include '@Rbs_Admin/view/links.twig' %}
	</div>

	<div class="document-form" data-rbs-main-column="">
		<form data-ng-submit="submit()" data-rbs-document-editor-edit="" data-rbs-document-editor-translate=""
			data-rbs-document-editor-project-gist-gbase-translate="">
			<fieldset data-rbs-editor-section=""
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.general_properties', ['ucf']) }}">

				<rbs-field-text property="title"
					label="{{ i18nAttr(propertyKey('Project_Gist_GBase', 'title'), ['ucf']) }}">
				</rbs-field-text>

				<rbs-field property="artiste" label="{{ i18nAttr(propertyKey('Project_Gist_GBase', 'artiste'), ['ucf']) }}">
					<rbs-inline-single data-inline="document.artiste" new-model="Project_Gist_GBaseArtiste"
							data-ref-lcid="document.refLCID" data-lcid="document.LCID">
					</rbs-inline-single>
				</rbs-field>

				<h3>{{ i18n(propertyKey('Project_Gist_GBase', 'elements'), ['ucf']) }}</h3>
				<rbs-inline-array inline-array="document.elements" new-model="Project_Gist_GElement"
						data-ref-lcid="document.refLCID" data-lcid="document.LCID">
				</rbs-inline-array>
			</fieldset>

			<fieldset data-rbs-editor-section="publication"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.admin.publication_properties', ['ucf']) }}"
				data-rbs-document-publication-section="">
			</fieldset>

			<fieldset data-rbs-editor-section="systeminfo"
				data-editor-section-label="{{ i18nAttr('m.rbs.admin.adminjs.status', ['ucf']) }}"
				data-rbs-document-system-info-section="">
			</fieldset>

			<rbs-document-editor-button-bar></rbs-document-editor-button-bar>
		</form>
	</div>
</div>